/*
========================================
CSS STYLE RESET
========================================

http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*{
  box-sizing: border-box;
}

/*
  ========================================
  Grid
  ========================================
*/
.container{
    margin: 0 auto;
    width: 80%;
}

/*
  ========================================
  Page style
  ========================================
*/
body{
    background: #F1F1F1;
    position: relative;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Typography
  ========================================
*/

h2{
    line-height: 20px;
    font: 500 55px "Open Sans", "Helvetica Neue", Helvetica, Arial,sans-serif; 
}
h3{
    font: 400 39px "Open Sans", "Helvetica Neue", Helvetica, Arial,sans-serif;
}
.hero-text p,
.call-to-action p {
    margin:6px 0;
    color: #868686;
    font: 100 22px "Open Sans", "Helvetica Neue", Helvetica, Arial,sans-serif;
    font-style: italic;
}

mark.blue{
    font-weight: 600;
    color: #157BE2;
    background: none;
}
mark.magenta{
    color: #f731a4;
    background: none;
}

/*
  ========================================
  Links
  ========================================
*/
a{
    color:black;
    text-decoration: none;
}
a:hover{
  /* color: #a0a0a0; */
  color:  #868686;
  text-decoration: underline;
}

/*
  ========================================
  Header
  ========================================
*/
header{
  /* Styling */
  background: #F1F1F1;
  width: 100%;
  
  /* Positioning */
  position: fixed;
  top:0;
  left:50%;
  transform: translate(-50%,0); 
}

.header-box{
  height: 50px;
/*   border: 2px solid green; */
}

.logo{
  /* Styling */
  font-size: 26px;
  font-weight: 350;
  font-family: "Cascadia Code","Lucida Console", Monaco, monospace;

  /* Positioning */
  float: left;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  z-index: 10;
  /* border: 2px solid green; */
}


/*
  ========================================
  Navigation
  ========================================
*/
.nav{
  /* Styling */
  text-align: right;
  font-size: 16px;
  font-weight: 100;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 

  /* Positioning */
    position:relative;
    top: 50%;
    transform: translate(0,-50%);
    /* border: 2px solid green; */
    z-index: 5;  
}
/* Display list orizontally */
.nav li{
    display: inline-block;
    vertical-align: top;
    /* padding: 10px; */
    margin: 20px 30px;
}
.nav li:last-child{
    margin-right: 0;
    margin-left:0;
  }

/*
  ========================================
  Hero
  ========================================
*/
.hero-box{
    /* border: 2px solid green; */
    height: 100vh;
    position:relative;
    z-index: -1;
}
.hero-text{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}

.call-to-action{
  position:absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%,0);
  /* border: 2px solid green; */
  text-align: center;
}
.call-to-action h3{
  font-size: 28px;
  padding:14px;
}

/*
  ========================================
  Content
  ========================================
*/
.content{
  background-color: #2e384e;
  /* background-color: #4B4B4B; */
  /* height: 1000px; */
}
.content h3{
  padding: 80px 0 40px 0;
  color: white;
}

#artcl-container{
  padding-bottom:100px;
}
.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.artcl-card,
.proj-card{

  /* Styling */
  background-color: #F1F1F1;
  border-radius: 30px;

  padding: 2em .5em;
  width: 30%;
  /* border: 3px solid green; */

}

.artcl-card h5,
.proj-card h5{
  padding: 20px;
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.artcl-card p,
.proj-card p{
  /* Positioning */
  padding: 20px;

  /* Styling */
  color: black;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Change text alignment only fro article cards */
.artcl-card p,
.artcl-card h5{
  display: block;
  text-align: left;
  width:80%;
  margin:auto;
}


.proj-card img{
  display: block;
  margin: auto;

  padding: 20px;

  border-radius: 30px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.artcl-card img{
  display: block;
  margin: auto;

  padding: 20px;

  border-radius: 30px;
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.proj-container h6{

  padding: 30px;
  
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: 200;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
  ========================================
  Footer
  ========================================
*/
footer{
  padding:20px 0px;
}
.copyright-text{
  float: left;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  CONTACT section
  ========================================
*/
#contact-msg{
  /* Positioning */
  /* border: 3px solid green; */
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  align-items:baseline;
  width: 100%;
  height: 100vh;

  /* Styling */
  font-size: 28px;
  font-weight: 300;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#mail-icon{
  padding-right:60px;
}
#contact-msg a{
  color: #157BE2;
}

/*
  ========================================
  ABOUT section
  ========================================
*/
.about-box{
  height: 100vh;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-column{
  height: 200px;
  margin: 0 50px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.about-box h6{
  line-height: 1.5em;

  font-size: 22px;
  font-weight: 700;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.about-box p{
  line-height: 1.5em;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.about-box img{
  border-radius: 50%;
  height: 100%;
}

/*
  ========================================
  Coming SOON section
  ========================================
*/
.soon-msg{
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.soon-msg p{
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}